<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DinnerDash</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicons
    ================================================== -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-touch-icon-114x114.png') }}">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.css') }}">

  <!-- Slider
    ================================================== -->
  <link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='css/owl.theme.css') }}" rel="stylesheet" media="screen">

  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nivo-lightbox/nivo-lightbox.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nivo-lightbox/default.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation
    ==========================================-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span> </button>
        <a class="navbar-brand page-scroll" href="#page-top">DinnerDash</a> </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about" class="page-scroll">About</a></li>
          <li><a href="#services" class="page-scroll">Service</a></li>
          <li><a href="#contact" class="page-scroll">Contact</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- Header -->
  <header id="header">
    <div class="fullscreen-bg">
      <video loop muted autoplay poster="{{ url_for('static', filename='video/Pad-Thai.jpg') }}" class="fullscreen-bg__video">
        <source src="{{ url_for('static', filename='video/Pad-Thai.webm') }}" type="video/webm">
        <source src="{{ url_for('static', filename='video/Pad-Thai.mp4') }}" type="video/mp4">
      </video>
    </div>
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <img style="width:400px;"src="img/logo.png" />
            <h1 id="introhd">Dinner Dash</h1>
            <p style="font-size:60px; color:white;">Love Food. Hate Waste.</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">Start Here!</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About Section -->
  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h2>About <span> DinnerDash</span></h2>
            <hr>
            <p> Dinner Dash is a web application done by students staying at in Cinnamon College. This application is
              targeted at operaters of the Cinnamon-Tembusu Dining Hall.
              It helps to estimate the amount of traffic at specific timings to allow the operater to better estimate
              when and how much food to prepare in that time frame.
              In essence, it helps to prevent scenarios where insufficient quantity of food prepared by the operator or
              having leftover food. </p>
            <a href="#services" class="btn btn-custom btn-lg page-scroll">Try It Out!</a>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="about-media"> <img src="{{ url_for('static', filename='img/about-1.png') }}" alt=" "> </div>
          <div class="about-desc">
            <h3>Background</h3>
            <p>During dinner service, we often see that there either insufficient food prepared or there will a ton of
              leftover food that is thrown. Therefore, our aim is to curb this.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="about-media"> <img src="{{ url_for('static', filename='img/about-2.png') }}" alt=" "> </div>
          <div class="about-desc">
            <h3>Solution</h3>
            <p>We came up with this web application that uses MACHINE LEARNING to help predict the expected number of
              people that are dining at specific times.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Services Section -->
  <div id="services">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 section-title text-center">
        <h2>Try it out! Tell us what to predict!</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>Please enter the date and time.</h3>
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="date" class="form-control" placeholder="10/10/2018" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="time" class="form-control" placeholder="6:50" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>
            <button id="submit" type="submit" class="btn btn-customm btn-lg">Get Results</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Section -->
  <div id="contact" class="text-center">
    <div class="container">
      <div class="section-title text-center">
        <h2>Contact Us</h2>
        <hr>
      </div>
      <div class="col-md-10 col-md-offset-1 contact-info">
        <div class="col-md-4">
          <h3>Address</h3>
          <hr>
          <div class="contact-item">
            <p>Cinnamon College</p>
            <p>University Town, National University of Singapore</p>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Working Hours</h3>
          <hr>
          <div class="contact-item">
            <p>Monday-Friday: 09:00 - 18:00</p>
            <p>Saturday-Sunday: CLOSED</p>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Contact Info</h3>
          <hr>
          <div class="contact-item">
            <p>Phone: +1 123 456 1234</p>
            <p>Email: dinnerdash@u.nus.edu</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <div id="footer">
    <div class="container text-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="social">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <p>&copy; DinnerDash. Designed by The Thinkers.</p>
      </div>
    </div>
  </div>


  <script>
    var el = document.getElementById('submit');
    el.addEventListener('click', getResults);

    function getResults(e) {

      data = {
        "inputDate": document.getElementById('date').value,
        "inputTime": document.getElementById('time').value
      };
      console.log(data)
      $.ajax({
        url: 'estimate',
        type: 'POST',
        data: data,
        dataType: 'json',
        success: function (response) {
          // window.location = "http://0.0.0.0:5000/pages/chart.html?people="+ response.result + response.dateTime + "&time="+ document.getElementById('time').value + "&day=" response.dateTime[2];
          window.location = "http://0.0.0.0:5000/pages/chart.html?people="+ response.result + "&time="+ document.getElementById('time').value + "&dateInfo=" + response.dateTime;
        },
        error: function (error) {
          console.log(error);
        }
      });
    }
  </script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.1.11.1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/SmoothScroll.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/nivo-lightbox.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.isotope.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/contact_me.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
